extends layout

block content
  h1= title
  div
    form(action='/anadiralumno', method='post')
      label(for='DNIalum')
        input(type='number',  min="00000000" , max="99999999", maxlength="8", id=DNIalum, name='DNIalum', placeholder='DNI del Alumno')
      label(for='txtClave')
        input(type='password', id='txtClave', name='txtClave', placeholder='Contraseña')
      label(for='txtNombreAlumno')
        input(type='text', id=txtNombreAlumno, name='txtNombreAlumno', placeholder='Nombre del Alumno')
      label(for='txtApellidos')
        input(type='texto', id=txtApellidos, name='txtApellidos', placeholder='Apellidos alumno')
      label(for='txtEmail')
        input(type='mail', id=txtEmail, name='txtEmail', placeholder='Email')
      button(type='submit') Registrar
